@page
@model SGV_Booking.Views.Home.restaurant1Model
@{
}
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

@{
    ViewBag.Title = "BAMBOO LEAF";
}

<div class="container">
    <h1 class="text-center">BAMBOO LEAF</h1>
    <hr />

    <div class="text-center">
        <div class="col-md-12">
            <h5>Address:</h5>
            <p><a href="https://www.google.com/maps/place/25+Gouger+St,+Adelaide+SA/">25 Gouger Street, Adelaide SA</a></p>

        </div>

        <div class="col-md-12">
            <h5>Contact:</h5>
            <p>Email: <a href="mailto:info@nijumaru.com.au">Bamboo.com.au</a><br>Phone: 0466 88 0833</p>
        </div>
    </div>

    <div class="text-center">
        <div class="col-12">
            <h5>Open Hours: </h5>
            <p>Open Tuesdays to Sundays</p>
            <p>Lunchtime 12-2PM</p>
            <p>
                First dinner 5-7PM
            </p>
            <p>
                Second dinner 7-9PM
            </p>
        </div>
    </div>
</div>
