@page
@model SGV_Booking.Views.Home.restaurant1Model
@{
}
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

@{
    ViewBag.Title = "Mexikana";
}

<div class="container">
    <h1 class="text-center">MEXIKANA</h1>
    <h2 class="text-center"></h2>
    <hr />

    <div class="text-center">
        <div class="col-md-12">
            <h5>Address:</h5>
            <p><a href="https://www.google.com/maps/place/40+Fullarton+Rd,+Norwood+SA+5067/">40 Fullarton Road Norwood SA</a></p>

            </p>
        </div>

        <div class="col-md-12">
            <h5>Contact:</h5>
            <p>Email: <a href="mailto:info@mexikana.com.au">Mexikana.com.au</a><br>Phone: 0466 88 0833</p>
        </div>
    </div>

    <div class="text-center">
        <div class="col-12">
            <h5>Open Hours: </h5>
            <p>Open Monday to Saturday</p>
            <p>
                First dinner 5-7PM
            </p>
            <p>
                Second dinner 7-9PM
            </p>
            <p>
                Late night dinner 9-11PM
            </p>
        </div>
    </div>
</div>
