@{
    ViewData["Title"] = "Menus";
}

<h1 class="text-center">Menus</h1>

<div class="text-center" style="display: flex; justify-content: space-around;">
    <div>
        <h3>Bamboo Leaf Menu</h3>
        <a href="/pdfs/bamboo-leaf-menu.pdf" download="bamboo-leaf-menu.pdf">Download</a>
        <canvas id="pdf-canvas1" style="max-width: 100%;"></canvas>
    </div>
    <div>
        <h3>La Oeste Menu</h3>
        <a href="/pdfs/la-oeste-menu.pdf" download="le-oeste-menu.pdf">Download</a>
        <canvas id="pdf-canvas2" style="max-width: 100%;"></canvas>
       
    </div>
    <div>
        <h3>Mexikana Menu</h3>
        <a href="/pdfs/mexikana-menu.pdf" download="mexikana-menu.pdf">Download</a>
        <canvas id="pdf-canvas3" style="max-width: 100%;"></canvas>
    </div>
</div>

<script src="/js/pdf.js"></script>
<script>
    pdfjsLib.GlobalWorkerOptions.workerSrc = '/js/pdf.worker.js';

    function loadPdf(pdfPath, canvasId, maxCanvasWidth) {
        pdfjsLib.getDocument(pdfPath).promise.then(function (pdf) {
            return pdf.getPage(1); // or another page
        }).then(function (page) {
            var viewport = page.getViewport({ scale: 1 });
            var scale = maxCanvasWidth / viewport.width;
            var scaledViewport = page.getViewport({ scale: scale });

            var canvas = document.getElementById(canvasId);
            var context = canvas.getContext('2d');
            canvas.height = scaledViewport.height;
            canvas.width = scaledViewport.width;

            var renderContext = {
                canvasContext: context,
                viewport: scaledViewport
            };
            page.render(renderContext);
        });
    }

    loadPdf('/pdfs/bamboo-leaf-menu.pdf', 'pdf-canvas1', 300);
    loadPdf('/pdfs/le-oeste-menu.pdf', 'pdf-canvas2', 300);
    loadPdf('/pdfs/mexikana-menu.pdf', 'pdf-canvas3', 300);
</script>
