<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/buttondesign.css"> <!-- CSSファイルへのパス -->

</head>
<body style="background-color: #F5F5FA;">
    <!-- 背景色の設定 -->
    <div class="text-center">
        <h1 class="display-4">Welcome to Soylent Green Ventures</h1>
    </div>


    <br />
    <br />

    <div class="container text-center">
        <h1> </h1>
        <p class="lead"></p>

        <div class="row">
            <div class="col-md-4 button-container" id="bamboo">
                <form asp-area="" asp-controller="Restaurants" asp-action="Bamboo" method="post">
                    <button type="submit" class="button-67" style="background-color: rgb(160, 132, 202); color: white; border: 2px solid rgb(160, 132, 202);">Bamboo Leaf</button>
                </form>
            </div>


            <div class="col-md-4 button-container" id="oeste">
                <form asp-area="" asp-controller="Restaurants" asp-action="La_oeste" method="post">
                    <button type="submit" class="button-67" style="background-color: rgb(160, 132, 202); color: white; border: 2px solid rgb(160, 132, 202);">La Oeste</button> <!-- ここでCSSクラスを適用 -->
                </form>
            </div>

            <div class="col-md-4 button-container" id="mexikana">
                <form asp-area="" asp-controller="Restaurants" asp-action="Mexikana" method="post">
                    <button type="submit" class="button-67" style="background-color: rgb(160, 132, 202); color: white; border: 2px solid rgb(160, 132, 202);">Mexikana</button> <!-- ここでCSSクラスを適用 -->
                </form>
            </div>
        </div>
    </div>
</body>
</html>
