<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/buttondesign.css"> <!-- CSSファイルへのパス -->
    
</head>
<body style="background-color: #F5F5FA;">
    <!-- 背景色の設定 -->
    <div class="text-center">
        <h1 class="display-4">Welcome to Our Restaurants</h1>
    </div>

    <div class="container text-center">
        <h1> </h1>
        <p class="lead"></p>

        <div class="row">
            <div class="col-md-4 button-container" id="bamboo">
                <form asp-area="" asp-controller="Restaurants" asp-action="Bamboo" method="post">
                    <button type="submit" class="button-67">Bamboo Leaf</button> <!-- ここでCSSクラスを適用 -->
                </form>
            </div>

            <div class="col-md-4 button-container" id="oeste">
                <form asp-area="" asp-controller="Restaurants" asp-action="La_oeste" method="post">
                    <button type="submit" class="button-67">La Oeste</button> <!-- ここでCSSクラスを適用 -->
                </form>
            </div>

            <div class="col-md-4 button-container" id="mexikana">
                <form asp-area="" asp-controller="Restaurants" asp-action="Mexikana" method="post">
                    <button type="submit" class="button-67">Mexikana</button> <!-- ここでCSSクラスを適用 -->
                </form>
            </div>
        </div>
    </div>
</body>
</html>
