@page
@model SGV_Booking.Views.Booking.Booking_SelectionModel
@{
}

<div class="elem-group inlined">
    <label for="guest">Guest</label>
    <input type="number" id="guest" 
        name="total_guests" placeholder="1" min ="1" required/>
</div>