@{
    ViewData["Title"] = "Booking Page";
}


<div class="container">
    <h1 class="display-4 bg-secondary text-white">Booking Details</h1>

    <div class="col-6 ">
        <label for="firstName">First Name</label>
        <input class="form-control" id="firstName" type="text">
    </div>
    <div class="col-6">
        <label for="lastName">Last Name</label>
        <input class="form-control" id="lastName" type="text">
    </div>
    <div class="col-6">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="text">
    </div>
    <div class="col-6">
        <label for="phoneNumber">Phone Number</label>
        <input class="form-control" id="phoneNumber" type="text">
    </div>

    <div class="col-6"> 
        <label for="requirementNote">Dietary Requirements</label>
        <textarea class="form-control" id="requirementNote" rows="3"></textarea>
    </div>

</div>
