@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* Displau *@
<h2 style="text-align: center">Login Success!</h2>

<div class="row justify-content-center">
    <div class="col-auto">
        <br />
        <a class="btn btn-outline-primary justify-content-center">Return Home</a>
    </div>
</div>