@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<br />
<br />

<div class="row">
        <div class="col-md-6">
            <img style="width:90%; margin-left: 50px; margin-top: 70px" src="https://c1.wallpaperflare.com/preview/65/253/183/friend-meal-restaurant-smile.jpg" />
        </div>
    <div class="col-md-6">
            <div class="col">
                <h2 style="text-align: center; font-family: Arial">Register</h2>

                <br />
                <br />

                <form method="post" action="/Users/RegisterDetails">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <input type="text" class="form-control" name="firstName" placeholder="Enter First Name" />
                        </div>
                    </div>
                    <br />

                    <div class="row justify-content-center">
                        <div class="col-5">
                            <input type="text" class="form-control" name="lastName" placeholder="Enter Last Name" />
                        </div>
                    </div>
                    <br />


                    <div class="row justify-content-center">
                        <div class="col-5">
                            <input type="text" class="form-control" name="phoneNumber" placeholder="Enter Phone No." />
                        </div>
                    </div>
                    <br />

                    <div class="row justify-content-center">
                        <div class="col-5">
                            <input type="text" class="form-control" name="addressRegister" placeholder="Enter Address" />
                        </div>
                    </div>
                    <br />

                    <div class="row justify-content-center">
                        <div class="col-5">
                            <input type="text" class="form-control" name="emailRegister" placeholder="Enter Email" />
                        </div>
                    </div>
                    <br />

                    <div class="row justify-content-center">
                        <div class="col-5">
                            <input type="text" class="form-control" name="passwordRegister" placeholder="Enter Password" />
                        </div>
                    </div>
                    <br />
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <button class="form-control btn btn-primary" type="submit">Sign Up</button>
                        </div>
                    </div>
                    <br />

                </form>
            </div>
        </div>



</div>

<br />
<br />
<br />