@model SGV_Booking.Models.User

<br />
<br />
<br />

<head>
    <style>
        body {
            background-color: #c6e5f3;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-md-6">
            <img style="width:90%; margin-left: 50px; margin-top: 70px" src="~/images/SGVlogo.png" />
        </div>
        <div class="col-md-6">
            <div class="col">
                <div class="container" style="background-color: white; padding: 15px; border-radius: 10px;">
                    <h2 style="text-align: center; font-family: Arial">Register</h2>

                    <br />
                    <br />


                    <form method="post" action="/Users/Register">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <input type="text" class="form-control"  asp-for="FirstName" placeholder="Enter First Name" />
                            </div>
                        </div>
                        <br />

                        <div class="row justify-content-center">
                            <div class="col-5">
                                <input type="text" class="form-control"  asp-for="LastName" placeholder="Enter Last Name" />
                            </div>
                        </div>
                        <br />

                        <div class="row justify-content-center">
                            <div class="col-5">
                                <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Enter Phone No." />
                            </div>
                        </div>
                        <br />

                        <div class="row justify-content-center">
                            <div class="col-5">
                                <input type="text" class="form-control"  asp-for="Email" placeholder="Enter Email" />
                            </div>
                        </div>
                        <br />

                        <div class="row justify-content-center">
                            <div class="col-5">
                                <input type="password" class="form-control"  asp-for="Password" placeholder="Enter Password" />
                            </div>
                        </div>
                        <br />
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <button class="form-control btn btn-primary" type="submit">Sign Up</button>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>




<br />
<br />
<br />