@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 style="text-align: center">Register Details</h2>
<br />

<p style="text-align: center">Login was Successful! Welcome!</p>


<br />
<div class="row justify-content-center">
    <div class="col-auto">
        <a href="/Home/Index" class="btn btn-outline-primary">Return Home</a>
    </div>
</div>