
@model SGV_Booking.Models.Restaurant

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-size: 18px; /* 文字を大きくする */
        }
    </style>
</head>

@{
    ViewBag.Title = "BAMBOO LEAF";
}
<br />
<body style="background-repeat:no-repeat; background-attachment:fixed; background-size:cover; background-image:url('/images/a-4k-ultra-hd-wallpaper-of-a-tiger-dressed-in-a-chefs-outfit-holding-a-spatula-qq8byzma.jpeg')">
</body>
<br />
<br />
<br />
<div class="container" style="width: 300%">
    <h1 class="text-center" style="color: white; font-size: 300%">@Model.RestaurantName</h1>
    <hr />
    <div class="row">
        <div class="col" style="margin-right: 50%; margin-top: 20%">
            <br />
            <br />
            <br />
            <div class="container">
                <div class="card" style="width: 140%; background-color: darkgray">
                    <div class="text-center">
                        <h1>   </h1>
                        <h5>Address:</h5>
                        <p><a href="https://www.google.com/maps/place/25+Gouger+St,+Adelaide+SA/">@Model.RestaurantAddress.AddressLine @Model.RestaurantAddress.Suburb</a></p>


                        <h5>Open Hours: </h5>
                        <p>Open Tuesdays to Sundays</p>
                        <p>Lunchtime 12-2PM</p>
                        <p>First dinner 5-7PM</p>
                        <p>Second dinner 7-9PM</p>
                    </div>
                </div>

                <br />
                <br />
                <br />
                <div class="card" style="width: 140%;">
                    <h5>Contact:</h5>
                    <p>Email:<br>Phone: @Model.RestaurantPhoneNumber</p>
                </div>
            </div>
        </div>

        <div class="col d-flex flex-column align-items-center">
            <img src="/images/bambooleafimage.png" style="width: 300%" />
        </div>
    </div>
</div>
<br />
<br />
<br />
